[submodule "pm-front"]
	path = pm-front
	url = git@github.com:bengeek06/pm-front.git
[submodule "pm-auth-api"]
	path = pm-auth-api
	url = git@github.com:bengeek06/pm-auth-api.git
[submodule "pm-users-api"]
	path = pm-users-api
	url = git@github.com:bengeek06/pm-users-api.git
[submodule "pm-companies-api"]
	path = pm-companies-api
	url = git@github.com:bengeek06/pm-companies-api.git
